/*
	MAIN COLOR: #D35400
	COLOR PALETTE: http://www.0to255.com/D35400

	GOLDEN COLOR: #e4a800

	SEARCH BOX BG: #ecf0f1
*/


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #fff;
	color: #555;
	font-family: 'Oxygen', sans-serif;
	font-size: 20px;
	font-weight: 300;
	text-rendering: optimizeLegibility;
}


/* all */
::-webkit-input-placeholder { opacity: 1; }
::-moz-placeholder { opacity: 1; } /* firefox 19+ */
:-ms-input-placeholder { opacity: 1; } /* ie */
input:-moz-placeholder { opacity: 1; }


.col {
	margin-top: 0;
	margin-bottom: 0;
}


/*--------------------------------------------
			REUSABLE CODES
--------------------------------------------*/


/* ADD IT TO THE PARENT OF FLOATED ELEMENTS */

.clearfix {
	zoom: 1;
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}

/* CLEARFIX END */

.row {
    max-width: 1140px;
    margin: 0 auto;
}


/* HEADINGS */

h1 {
	font-weight: 300;
}



/*--------------------------------------------
			Side Navigation Menu
--------------------------------------------*/



.sidebar {
	background-color: #3e3e3e;
	width: 240px;
	height: 100%;
	display: block;
	position: fixed;
	left: -246px;
	top: 0;
	transition: left 0.6s cubic-bezier(0.06,-0.11, 0.32, 1.39);
}

.sidebar.visible {
	left: -15px;
}


.author-icon {
	height: 80px;
	width: 80px;
	border-radius: 50%;
	text-align: center;
	line-height: 80px;
	margin: 0 auto;
	background-color: #fff;
	font-size: 250%;
	overflow: hidden;
	font-weight: 700;
	box-shadow: -2px 2px 20px 2px rgba(0,0,0,0.4);
	margin-top: 50px;
	margin-bottom: 50px;
}

.author-icon a {
	display: block;
	color: #555;
	text-decoration: none;
}


.sidebar ul {
	list-style: none;
}

.sidebar ul li {
	background-color: #4a4a4a;
}

.sidebar ul li a {
	color: #fff;
	font-size: 70%;
	display: block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
}


.sidebar-btn {
	display: inline-block;
	width: 20px;
	height: 15px;
	cursor: pointer;
	position: absolute;
	top: 0;
	margin-top: 20px;
	right: -50px;
}

.sidebar-btn span {
	background-color: #ababab;
	height: 2px;
	margin-bottom: 5px;
	display: block;
}

.sidebar-btn span:nth-child(2) {
	width: 75%;
}

.sidebar-btn span:nth-child(3) {
	width: 50%;
}



/*--------------------------------------------
					HEADER
--------------------------------------------*/


header {
	height: 300px;
	max-width: 1140px;
	margin: 0 auto;
	background-color: #D35400;
	color: #fff;
	position: relative;
	text-align: center;
}

.welcome-section {
	display: inline-block;
	padding-top: 50px;
}

.author,
.greeting-text {
	height: 200px;
	float: left;
}

.author img {
	border-radius: 50%;
	vertical-align: middle;
	margin-top: -25px;
	margin-right: 10px;
}

.author h1 {
	display: inline-block;
	font-size: 300%;
	position: relative;
}

.author span {
	display: none;
	text-align: right;
	font-size: 80%;
	margin-right: 40px;
}

.greeting-text {
	border-left: 1px solid #fff;
	margin-left: 30px;
}

.greeting-text span {
	display: block;
	padding-top: 178px;
	padding-left: 10px;
	font-size: 80%;
}



/*--------------------------------------------
				NAVIGATION MENU
--------------------------------------------*/


.navigation-menu {
	width: 100%;
	background-color: #c24d00;
	text-align: center;
}

.navigation-list {
	list-style: none;
	display: inline-block;
	vertical-align: top;
}

.navigation-link {
	float: left;
	padding: 20px 30px;
	text-align: center;
}

.navigation-link a:link,
.navigation-link a:visited {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 80%;
	border-bottom: 1px solid transparent;
	transition: border-bottom .5s;
}

.navigation-link a:hover,
.navigation-link a:active {
	border-bottom: 1px solid #fff;
}





/*--------------------------------------------
				MAIN SEARCH
--------------------------------------------*/



.search-box {
	text-align: center;
	background-color: #ecf0f1;
	padding: 30px 0;
}

.main-search input[name=main-search] {
	color: #D35400;
	border: 1px solid #D35400;
	width: 70%;
	height: 50px;
	padding: 0 20px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	outline: none;
	opacity: 1;
}


.main-search button {
	height: 50px;
	width: 114px;
	background-color: #d35400;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	color: #fff;
	cursor: pointer;
	border: 0;
	margin-left: -5px;
	outline: none;
}



/*--------------------------------------------
				EVERYTHING TOP
--------------------------------------------*/
.everything-top .row{
	border-left: 1px solid #ecf0f1;
	border-right: 1px solid #ecf0f1;
}


.top-post, .recent-comment {
	padding-top: 40px;
}

/*-----------------
	TOP POST DIV
-----------------*/

.top-post {
	position: relative;
	width: 100%;
	padding-bottom: 30px;
}

.top-post:before {
	content: 'Top Post';
	position: absolute;
	left: 15px;
	top: 20px;
	height: 20px;
	line-height: 20px;
	width: 80px;
	font-weight: 400;
	border-radius: 5px;
	background-color: #e4a800;
	text-align: center;
	color: #fff;
	font-size: 60%;
}

.top-post-inner {
	padding-top: 10px;
}

.top-post-inner h2, .recent-comment-inner h2 {
	display: none;
	text-transform: uppercase;
	font-size: 180%;
	font-weight: 300;
	text-align: center;
	padding-bottom: 10px;
	margin-bottom: 40px;
	position: relative;
}

.top-post-inner h2:after, .recent-comment-inner h2:after {
	content: '';
	position: absolute;
	background-color: #D35400;
	height: 2px;
	left: 50%;
	top: 100%;
	transform: translateX(-50%);
}

.top-post-inner h2:after {
	width: 200px;
}

.recent-comment-inner h2:after {
	width: 400px;
}


.top-post-image {
	width: 40%;
	padding-left: 2.5%;
	height: 221px;
	overflow: hidden;
	float: left;
	text-align: center;
	padding-top: 9px;
}

.top-post-image img {
	height: 100%;
}


.top-post-content {
	width: 60%;
	float: right;
	padding: 0px 20px;
}

.top-post-content .top-post-image {
	display: none;
}


.top-post-content h3 {
	font-size: 150%;
	font-weight: 300;
	padding-bottom: 10px;
	text-transform: uppercase;
}

.top-post-content p {
	font-size: 70%;
	text-align: justify;
	font-weight: 400;
	border-bottom: 1px solid #D35400;
	padding-bottom: 25px;
}


.top-post-info {
	font-size: 50%;
	font-weight: 400;
	text-transform: uppercase;
	padding-bottom: 15px;
}

.top-post-date a, .top-post-author a {
	color: #D35400;
	text-decoration: none;
}


.top-post-comments {
	padding-top: 15px;
	font-size: 60%;
	color: #D35400;
	font-weight: 400;
}

.top-post-comments i {
	color: #D35400;
	vertical-align: middle;
}

.top-comment-content {
	padding-left: 10px;
	vertical-align: middle;
}

.top-comment-author {
	background-color: #fff;
	padding: 2px 4px;
	border: 1px solid #D35400;
	border-radius: 5px;
	float: right;
}

.top-comment-author a {
	color: #D35400;
	font-size: 90%;
	text-decoration: none;
	display: block;
}


/*----------------------
	RECENT COMMENT DIV
----------------------*/


.recent-comment {
	position: relative;
	padding-bottom: 40px;
	border-left: 1px solid #ecf0f1;
}


.recent-comment:before {
	content: 'Recent Comments';
	position: absolute;
	left: 15px;
	top: 20px;
	height: 20px;
	line-height: 20px;
	width: 130px;
	font-weight: 400;
	border-radius: 5px;
	background-color: #e4a800;
	text-align: center;
	color: #fff;
	font-size: 60%;
}


.recent-comment-inner {
	width: 90%;
	margin: 20px auto 0 auto;
}

.recent-comment-list {
	list-style: none;
}

.recent-comment-list li:nth-child(odd) {
	font-size: 60%;
	font-weight: 400;
	text-align: justify;
}

.recent-comment-list li:first-child {
	margin-top: 15px;
}


.recent-comment-list li:nth-child(even) {
	text-align: right;
	text-transform: capitalize;
	font-weight: 400;
	margin-top: 5px;
	font-size: 60%;
	padding: 10px 0;
}

.recent-comment-list li:nth-child(even) i {
	color: #D35400;
	font-size: 130%;
	margin-right: 5px;
	vertical-align: middle;
}

.recent-comment-list li:nth-child(even) a:nth-child(even) {
	color: #D35400;
	font-size: 90%;
	padding: 2px 4px;
	text-decoration: none;
	border: 1px solid #D35400;
	border-radius: 5px;
	transition: all 200ms ease-in-out;
}


.recent-comment-list li:nth-child(even) a:nth-child(even):hover {
	color: #fff;
	background-color: #D35400;
}





/*--------------------------------------------
					TIMELINE
--------------------------------------------*/


.timeline-container {
	overflow: hidden;
	position: relative;
}

.timeline-title {
	text-align: center;
	font: 120%;
	color: #D35400;
	width: 200px;
	height: 125px;
	background-color: #fff;
	border: 1px solid #D35400;
	line-height: 130px;
}

.timeline-list {
	list-style: none;
	width: 1600px;
	height: 125px;
	position: absolute;
	left: 200px;
	top: 0;
	z-index: -1;
	margin-left: 2px;
}


.timeline-list li {
	width: 200px;
	height: 125px;
	background: #000;
	overflow: hidden;
	float: left;
}

.timeline-list li img {
	width: 100%;
}




/*--------------------------------------------
				CATEGORY
--------------------------------------------*/


.category-container {
	width: 100%;
	margin: 20px auto;
	border-right: 1px solid #ecf0f1;
}

.category-container iframe {
	margin-top: 20px;
}

.category-list {
	width: 95%;
	list-style: none;
	border-left: 5px solid #D35400;
}

.category-list>li {
	transition: all 200ms ease-in-out;
	margin-top: 1px;
}

.category-list>li.active {
	background-color: #D35400;
}

.category-list>li.active>a {
	color: #fff;
}

.category-list>li>a {
	display: inline-block;
	width: 80%;
	text-decoration: none;
	color: #555;
	font-size: 80%;
	transition: all 200ms ease-in-out;
	padding: 10px 10px 10px 30px;
	font-weight: 400;
}

.category-list>li>i {
	width: 20%;
	font-size: 80%;
	float: right;
	text-align: center;
	cursor: pointer;
	padding-top: 10px;
	padding-bottom: 10px;
}

.category-list>li.active>i {
	color: #fff;
	border-left: 1px solid #fff;
}

.category-list>li:hover>i {
	color: #fff;
	border-left: 1px solid #fff;
}

.category-list>li>i {
	color: #555;
}

.category-list>li:hover {
	background-color: #D35400;
}

.category-list>li:hover>a {
	color: #fff;
}


.sub-category {
	list-style: none;
	background-color: #fff;
	height: 0;
	overflow: hidden;
}

.sub-category>li {
	color: #D35400;
}

.sub-category>li:first-child {
	padding-top: 15px;
}

.sub-category>li>a {
	display: block;
	text-decoration: none;
	font-size: 70%;
	color: #D35400;
	padding: 10px 30px;
	font-weight: 400;
}

.sub-category>li>a:hover {
	text-decoration: underline;
}



/*--------------------------------------------
					POSTS
--------------------------------------------*/



.post-container {
	margin: 20px auto;
	position: relative;
}

.large-posts>div {
	width: 50%;
	float: left;
	height: 350px;
}

.small-posts>div {
	width: 33.33%;
	float: left;
	height: 250px;
}

.small-posts>div, .large-posts>div {
	overflow: hidden;
	position: relative;
}

.large-posts img {
	height: 350px;
	width: auto;
}

.small-posts img {
	height: 250px;
	width: auto;
}

.large-posts img, .small-posts img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	transition: all 300ms ease-in-out;
}

.post-text {
	position: absolute;
	height: 30%;
	width: 100%;
	top: 70%;
	background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
}

.post-text h3 {
	color: #fff;
	font-weight: 400;
	padding: 10px 20px;
}

.large-posts .post-text h3 {
	font-size: 90%;
}

.small-posts .post-text h3 {
	font-size: 60%;
	padding-bottom: 0;
}

.post-text a {
	text-decoration: none;
}


.read-more {
	padding-left: 20px;
}

.read-more .date a, .read-more .read-button {
	text-transform: uppercase;
	color: #fff;
	font-size: 50%;
	font-weight: 400;
}

.read-button {
	margin-left: 20px;
	background-color: #D35400;
	padding: 4px 8px;
}


/* ------------- PAGINATION ---------------- */


.pagination {
	padding: 40px 0px;
	text-align: center;
}

.pagination-body {
	display: inline-block;
}

.pagination-body>span, .pagination-body>ul {
	float: left;
}

.pagination-body>span:first-child {
	margin: 0;
}

.pagination-body>span:last-child {
	transform: rotateY(180deg);
}

.pagination-list {
	list-style: none;
	margin: 0 15px;
}

.pagination-list>li {
	float: left;
}

.pagination-btn {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	/*box-shadow: 0px 0px 2px 2px rgba(85,85,85,0.7);*/
	text-align: center;
	line-height: 35px;
	margin-left: 10px;
	color: #fff;
	background: #D35400;
	cursor: pointer;
	font-size: 80%;
	font-weight: 400;
	transition: all 200ms;
}

/*.pagination-btn:hover {
	box-shadow: 0px 0px 4px 4px rgba(85,85,85,0.7);
}*/


.pagination-btn a {
	color: #fff;
	text-decoration: none;
}

.pagination-list .pagination-btn.active {
	/*box-shadow: 0px 0px 4px 4px rgba(85,85,85,0.7);*/
	font-size: 105%;
	font-weight: bold;
}

.pagination-body>span {
	font-size: 90%;
}










/*--------------------------------------------
			EMAIL SUBSCRIPTION
--------------------------------------------*/



.subscription-body {
	background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/author-big.jpeg);
	width: 100%;
	height: 300px;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}

.subscription-body h2 {
	color: #fff;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 10px;
}

.subscription-body p {
	text-align: center;
	color: #fff;
	font-size: 80%;
}

input[name=email-subscribe] {
	background-color: transparent;
	border: 1px solid #ddd;
	height: 40px;
	width: 70%;
	outline: none;
	color: #fff;
	padding: 5px;
	text-align: center;
	font-size: 90%;
	border-radius: 5px;

	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.subscription-body button {
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-transform: uppercase;
	background-color: #e4a800;
	padding: 8px 20px;
	font-size: 70%;
	font-weight: 400;
	color: #fff;
	border: 1px solid #e4a800;
	cursor: pointer;
	border-radius: 10px;
	outline: none;
}




/*--------------------------------------------
				FOOTER MENU
--------------------------------------------*/


.footer-body {
	width: 100%;
	min-height: 200px;
	background-color: #3e3e3e;
	padding-top: 40px;
}

.footer-menu-list, .footer-social-list {
	list-style: none;
}

.footer-menu-list {
	float: left;
	margin-left: 20px;
}

.footer-social-list {
	float: right;
	margin-right: 20px;
	margin-top: -6px;
}

.footer-menu-list>li, .footer-social-list>li {
	float: left;
}

.footer-menu-list>li>a, .footer-social-list>li>a {
	text-decoration: none;
	color: #fff;
	display: block;
	padding: 10px 15px;
	transition: all 200ms;
}

.footer-menu-list>li>a {
	font-size: 70%;
	text-transform: uppercase;
}

.footer-menu-list>li>a:hover {
	color: #D35400;
}

.footer-social-list>li:nth-child(1):hover>a{
	color: #3B5998;
}
.footer-social-list>li:nth-child(2):hover>a{
	color: #1DA1F2;
}
.footer-social-list>li:nth-child(3):hover>a{
	color: #DB4437;
}
.footer-social-list>li:nth-child(4):hover>a{
	color: #C32AA3;
}

.copyright {
	font-size: 70%;
	color: #fff;
	padding-top: 90px;
	text-align: center;
	text-transform: uppercase;
}











